html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #090c10;
}

body {
  min-height: 100vh;
  background: #090c10;
}

#root {
  min-height: 100vh;
}